<div class="col-md-10 offset-md-1">
    <h2>会員情報編集</h2>
    <%= form_with model: @customer, url: customer_path,local: true do |f| %>
      <%#= render "customers/shared/error_messages", resource: resource %>
    　<div class="field">
        <%= f.label :last_name, "氏名　　　　　" %>
        <%= f.text_field :last_name, autofocus: true %>
        <%= f.text_field :first_name, autofocus: true %>
      </div>
      
      <div class="field">
        <%= f.label :last_name_kana, "フリガナ　　　" %>
        <%= f.text_field :last_name_kana, autofocus: true %>
        <%= f.text_field :first_name_kana, autofocus: true %>
      </div>
      
      <div class="field">
        <%= f.label :postcode, "郵便番号　　　" %>
        <%= f.text_field :postcode, autofocus: true %>
      </div>
      
      <div class="field">
        <%= f.label :address, "住所　　　　　" %>
        <%= f.text_field :address, autofocus: true %>
      </div>
      
      <div class="field">
        <%= f.label :phone_number,"電話番号　　　" %>
        <%= f.text_field :phone_number, autofocus: true %>
      </div>
    
    <div class="field">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    
    
      <div class="container">
        <div class="row">
          <div class="col-3"></div>
          <div class="col-3"><%= f.submit "編集内容を保存", class: 'btn btn-success' %></div>
          <div class="col-1"></div>
          <div class="col-2"><%= link_to '退会する', unsubscribe_path, class: "btn btn-danger" %></div>
          <div class="col-2"></div>
        <div>
      </div>
    <% end %>
</div>