<div class="my">マイページ</div>
     <div class="row info">
         <div class="info mr-3">登録情報</div>
         <div><%= link_to "編集する",edit_customer_path(current_customer), class: 'btn btn-success' %> </div>
     </div>
<table class="mypage">
    <tr>
        <th>氏名</th>
        <td><%= @customer.last_name %> <%= @customer.first_name %> </td>
    </tr>
    <tr>
        <th>カナ</th>
        <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
    </tr>
    <tr>
        <th>郵便番号</th>
        <td><%= @customer.postcode %></td>
    </tr>
    <tr>
        <th>住所</th>
        <td><%= @customer.address %></td>
    </tr>
    <tr>
        <th>電話番号</th>
        <td><%= @customer.phone_number %></td>
    </tr>
    <tr>
        <th>メールアドレス</th>
        <td><%= @customer.email %></td>
    </tr>
</table>

<div class="index"><span>配送先　</span><%= link_to "一覧を見る",delivery_addresses_path, class: 'btn btn-primary' %> </div>
<div class="index"><span>注文履歴</span><%= link_to "一覧を見る", orders_path, class: 'btn btn-primary' %> </div>