<div class="my">マイページ</div>
     <div class="row info">
         <div class="info mr-3">登録情報</div>
         <div><%= link_to "編集する",edit_customer_path(current_customer), class: 'btn btn-success btn-sm' %> </div>
     </div>
<table class="mypage">
    <tr>
        <th class="my-th">氏名</th>
        <td class="my-td"><%= @customer.last_name %> <%= @customer.first_name %> </td>
    </tr>
    <tr>
        <th class="my-th">カナ</th>
        <td class="my-td"><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
    </tr>
    <tr>
        <th class="my-th">郵便番号</th>
        <td class="my-td"><%= @customer.postcode %></td>
    </tr>
    <tr>
        <th class="my-th">住所</th>
        <td class="my-td"><%= @customer.address %></td>
    </tr>
    <tr>
        <th class="my-th">電話番号</th>
        <td class="my-td"><%= @customer.phone_number %></td>
    </tr>
    <tr>
        <th class="my-th">メールアドレス</th>
        <td class="my-td"><%= @customer.email %></td>
    </tr>
</table>

<div class="index"><span>配送先　</span><%= link_to "一覧を見る",delivery_addresses_path, class: 'btn btn-primary btn-sm' %> </div>
<div class="index"><span>注文履歴</span><%= link_to "一覧を見る", orders_path, class: 'btn btn-primary btn-sm' %> </div>