
<div class="row">
    <div class="col-md-3">
        <table class="table table-bordered ml-3">
            <thead>
                <th>ジャンル名</th>
            </thead>
            <tbody>
                <th>#</th>
            </tbody>
        </table>
    </div>
    <div class="col-md-8">
  <%= attachment_image_tag @product, :image, size: "100x100" %>

    　<%= @product.name %>
    　<%= @product.text %>
    　<%= @product.price %>（税込）
        <%= form_with model: @cart_products, url: 'cart_products_path', local:true do |f| %>
        <!--質問-->
        　<%= f.select :quantity, options_for_select((1..10).to_a), include_blank: "個数選択" %>
        　<%= f.submit "カートに入れる", class: " btn btn-primary" %>
        <% end %>
    </div>

</div>