<div class="col-md-10 offset-md-1">
    <h2>新規会員登録</h2>
    <%= form_with model: @customer, url: customer_registration_path, local: true do |f| %>
      <%= render "customers/shared/error_messages", resource: resource %>
    
      <div class="text-left">
        　<div class="text-left">
        　   <%= f.label :last_name, "名前　　　　　　　" %>
            <%= f.label :last_name, "(姓)" %>
            <%= f.text_field :last_name, autofocus: true %>
            <%= f.label :first_name, "（名）" %>
            <%= f.text_field :first_name, autofocus: true %>
          </div>
          
          <div class="text-left">
            <%= f.label :last_name_kana, "フリガナ　　　　　" %>
            <%= f.label :last_name_kana, "(セイ)" %>
            <%= f.text_field :last_name_kana, autofocus: true %>
            <%= f.label :first_name_kana, "(メイ)" %>
            <%= f.text_field :first_name_kana, autofocus: true %>
          </div>
        
          <div class="text-left">
            <%= f.label :email, "メールアドレス　　　　　" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
          
          <div class="text-left">
            <%= f.label :postcode, "郵便番号（ハイフンなし）" %>
            <%= f.text_field :postcode, autofocus: true %>
          </div>
          
          <div class="text-left">
            <%= f.label :address, "住所　　　　　　　　　　" %>
            <%= f.text_field :address, autofocus: true %>
          </div>
          
          <div class="text-left">
            <%= f.label :phone_number,"電話番号（ハイフンなし）" %>
            <%= f.text_field :phone_number, autofocus: true %>
          </div>
        
          <div class="text-left">
            <%= f.label :password, "パスワード（６文字以上）" %>
            <% if @minimum_password_length %>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>
        
          <div class="text-left">
            <%= f.label :password_confirmation, "パスワード（確認用）　　" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        
          <div class="text-center">
            <%= f.submit "新規登録", class: 'btn btn-success btn-lg' %>
          </div>
        <% end %>
    </div>
    <div>すでに登録済みの方</div>
    <div>
      <%= link_to "★こちら★", new_customer_session_path %>からログインしてください
    </div>
</div>
<%#= render "customers/shared/links" %>
