<div class="container">

	<div class="row">
	  <div class="col-md-3">
		  <h3 class="bg-light">ショッピングカート</h3>
		</div>
	  <div class="offset-md-7 col-md-2">
			<% if @cart_products.present? == true %>
				<%= link_to 'カートを空にする',  all_destroy_path, method: :delete, class: 'btn btn-md btn-danger' %>
			<% end %>
	  </div>
	</div>

	<div class="row">
		<table class="table table-bordered">
			<thead bgcolor="silver">
				<tr>
					<th>商品名</th>
					<th>単価(税込)</th>
					<th>数量</th>
					<th>小計</th>
					<th></th>
				</tr>
			</thead>
      <tbody>
        <% @cart_products.each do |cart_product| %>
        <tr>
          <td><%= attachment_image_tag cart_product.product, :image, :fill, 50, 30 %><%= cart_product.product.name %></td>
          <td valign="bottom"><%= cart_product.product.add_tax_price %></td>
          <td align="center">
            <%= form_with model: cart_product, url: cart_product_path(cart_product), method: :patch do |f| %>
              <%= f.select :quantity, options_for_select(1..10, selected: cart_product.quantity.to_i) %>
              &nbsp;
              <%= f.submit "変更", class: 'btn btn-sm btn-success' %>
            <% end %>
          </td>
          <td><%= ((cart_product.product.price * cart_product.quantity) * 1.1).floor %></td>
          <td align="center"><%= link_to '削除する', cart_product_path(cart_product), method: :delete, class: 'btn btn-sm btn-danger' %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-md-4">
		  <%= link_to '買い物を続ける', root_path, class: 'btn btn-lg btn-primary' %>
		</div>
		<div class="offset-md-4 col-md-4">
      <table class="table table-bordered">
        <tr>
          <th bgcolor="silver">合計金額</th>
          <td><%= @total_price.to_s(:delimited, delimiter: ',') %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
	　<%= link_to '情報入力へ進む', new_order_path, class: 'btn btn-lg btn-success' %>
	　<div class="col-md-4"></div>
  </div>

	</div>
</div>