<div class="row">
    <div class="col-md-3">
        <table class="table table-bordered ml-3">
            <thead>
                <th>ジャンル検索</th>
            </thead>
            <tbody>
                <% @genres.each do |genre| %>
                      <th><%= genre.name %></th>
                <% end %>
            </tbody>
        </table>
    </div>
    <div class="col-md-8">
        <div class="main-container">
            <div class="text-center p-5">
                ようこそ、ながのCAKEへ！<br>
                このサイトは、ケーキ販売のECサイトになります。<br>
                会員でない方も商品の閲覧はできますが、<br>
                購入には会員登録が必要になります。<br>
            </div>
        </div>
        <h2>新着順</h2>
    　　　<!--最新の商品から４つ取り出す-->
    　　　<% @products.first(5). each do |product| %>
    　　　    <div>
    　　　     <%= link_to product_path(product.id) do %>
             <%= attachment_image_tag product, :image, size: "340x220" %>
            <% end %>
             <%= product.name %>
             <%= product.price %>
    　　　</div>
    　　　<% end %>
    　　　
        <%= link_to "全ての商品を見る＞" %>
    </div>
</div>