<div class="container bg"> 
  <div class="row">
    <div class="col-md-2">
        <table class="table table-bordered ml-1">
            <thead>
                <th>ジャンル検索</th>
            </thead>
            <tbody>
                <% @genres.each do |genre| %>
                <tr>
                   <th><%= genre.name %></th>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <div class="col-md-10">
        <div id="about">
              <div id="theTarget">
                <div class="image1">
                    <div class="top-text">
                        ようこそ、ながのCAKEへ！<br>
                        このサイトは、ケーキ販売のECサイトになります。<br>
                        会員でない方も商品の閲覧はできますが、<br>
                        購入には会員登録が必要になります。<br>
                    </div>
                </div>
                <div class="image2"></div>
                <div class="image3"></div>
                <div class="image4"></div>
                <div class="image5"></div>
              </div>
        </div>
    
        <div class="toppage">
            <h2>新着順</h2>
               <div class="row">  
                 <% @products. each do |product| %>
                   <div>
                        <div class="img">
                        <%= link_to product_path(product.id) do %>
                              <%= attachment_image_tag product, :image, :size=> "150" %>
                            <% end %>
                        </div>
                        <div><%= product.name %></div>
                        <div>¥<%= product.price %></div>
                   </div>
                <% end %>
            </div>
        <div class="text-right mb-4"><%= link_to "全ての商品を見る＞",  products_path %></div>
    </div>
  
  