<div class = "container">
  <h2><%= @customer.last_name %> <%= @customer.first_name %>さんの会員情報編集</h2>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <th>会員ID</th>
          <td><%= @customer.id %></td>
        </tr>

        <%= form_with model: @customer, url: admin_customer_path, local:true do |f| %>
        <tr>
          <th>氏名</th>
          <td><%= f.text_field :last_name, autofocus: true %> <%= f.text_field :first_name, autofocus: true %></td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td><%= f.text_field :last_name_kana %> <%= f.text_field :first_name_kana %></td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td><%= f.text_field :postcode %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= f.text_field :address %></td>
        </tr>
          <tr>
          <th>電話番号</th>
          <td><%= f.text_field :phone_number %></td>
        </tr>
          <tr>
          <th>メールアドレス</th>
          <td><%= f.email_field :email %></td>
        </tr>
        <tr>
          <th>会員ステータス</th>
          <td>
            <%= f.label :is_delete, '退会', value: 1 %>
            <%= f.radio_button :is_delete, "1" %>
            <%= f.label :is_delete, '有効', value: 0 %>
            <%= f.radio_button :is_delete, "0" %>
          </td>
        </tr>
        <tr>
          <th></th>
          <td><%= f.submit "変更を保存", class: "btn btn-success" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
 </div>