
<h2>会員一覧</h2>
<!--<div class = "row">-->
  <table>
    <thead>
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td>
          <%= link_to "/admin/customers/:id" do %>
            <%= customer.last_name %> <%= customer.first_name %></td>
          <% end %>
        <td><%= customer.email %></td>
        <td><%= customer.is_delete %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @customers %>
<!--</div>-->