<div class = "container">
<h2>会員一覧</h2>
  <table class="table table-reflow table-hover">
    <thead class = "thead-light">
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody class = "table table-borderless">
      <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td>
          <%= link_to "/admin/customers/:id" do %>
            <%= customer.last_name %> <%= customer.first_name %></td>
          <% end %>
        <td><%= customer.email %></td>
        <td>
          <% if customer.is_delete == true %>
            退会
          <% else %>
            有効
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @customers %>
</div>