<div class = "container d-flex flex-column">
  <table class = "table-borderless">
    <h4>注文情報</h4>
      <tr>
        <th>購入者</th>
        <td>
        <%= @customer.last_name %>
        <%= @customer.first_name %>
        </td>
      </tr>
      <tr>
        <th>注文日</th>
        <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
      </tr>
      <tr>
        <th>配送先</th>
        <td>
        <%= @order.address %>
        <%= @order.address_name %>
        </td>
      </tr>
      <th>支払方法</th>
        <td>
          <% if @order.payment == 0 %>
            クレジットカード
          <% else %>
            銀行振込
          <% end %>
        </td>
      </tr>
      <tr>
        <th>注文ステータス</th>
        <td>
        <%= form_with model: @order, url: admin_order_path, method: :patch, local: true do |f| %>
        <%= f.select :order_status, Order.order_statuses.keys, class: "order_status" %>
        <%= f.submit "更新" , class: "btn btn-outline-success" %>
        <% end %>
        </td>
      </tr>
  </table>

  <table class="table table-bordered">
    <thead  class="thead-light">
      <tr>
        <th>商品名</th>
        <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
        <th>制作ステータス</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @ordered_products.each do |ordered_product| %>
        <tr>
          <td><%= ordered_product.product.name %></td>
          <td><%= ordered_product.product.add_tax_price %></td>
          <td><%= ordered_product.quantity %></td>
          <td><%= ordered_product.product.add_tax_price * ordered_product.quantity %></td>
            <%= form_with model: ordered_product, url: admin_order_detail_path, method: :patch, local: true do |f| %>
              <td><%= f.select :production_status, OrderedProduct.production_statuses.keys, class: "production_status-select" %></td>
              <td><%= f.submit "更新", class: "btn btn-outline-success" %></td>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <table class = "table-borderless">
    <tr>
      <th>商品合計</th>
      <td><%= @order.total_price %></td>
    </tr>
    <tr>
      <th>送料</th>
      <td><%= @order.shipping %></td>
    </tr>
    <tr>
      <th>請求金額合計</th>
      <td><%= @order.total_price +  @order.shipping  %></td>
    </tr>
  </table>
</div>
