<div class = "container">
   <table class = "table-borderless">
    <h4>注文情報</h4>
    <tbody>
     <tr>
        <th>購入者</th>
        <td>
          <%= @customer.last_name %>
          <%= @customer.first_name %>
        </td>
      </tr>
      <tr>
        <th>注文日</th>
        <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
      </tr>
      <tr>
        <th>配送先</th>
        <td>
          <%= @order.address %>
          <%= @order.address_name %>
        </td>
      </tr>
      <tr>
        <th>支払方法</th>
        <th><% @order.payment %></th>
      </tr>
       <tr>
        <th>注文ステータス</th>
        <td>
          <%= form_with model: @order, url: admin_order_path, method: :patch, local: true do |f| %>
           <%= f.select :order_status, Order.order_statuses.keys, class: "order_status" %>
           <%= f.submit "更新" , class: "btn-sm btn-success" %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="table table-bordered">
  <thead  class="thead-light">
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th>制作ステータス</th>
      <th></th>
    </tr>
  </thead>

  <!--会員注文履歴詳細からペーストする-->

  <tbody>
    <%# @products.each do |product| %>
    <tr>
      <td><%#= product.name %></td>
      <td><%#= product.add_tax_price %></td>
      <td><%#= @ordered_product.quantity %></td>
      <td><%#= product.add_tax_price * @ordered_product.quantity %></td>
          <%#= form_with model: @ordered_product, url: admin_order_detail_path, method: :patch, local: true do |f| %>
            <td><%#= f.select :production_status, OrderedProduct.production_statuses.keys, class: "production_status-select" %></td>
            <td><%#= f.submit "更新", class: "btn-sm btn-success" %></td>
          <%# end %>
    </tr>
    <%# end %>
  </tbody>
</table>
<table class = "table-borderless">
  <tr>
     <th>商品合計</th>
      <td><%#= @product.sum(@product.add_tax_price * @ordered_product.quantity) %></td>
  </tr>
  <tr>
     <th>送料</th>
      <td><%= @order.shipping %></td>
  </tr>
  <tr>
    <th>請求金額合計</th>
    <td><%= (@product.add_tax_price * @ordered_product.quantity)  +  @order.shipping  %></td>
  </tr>
</table>
</div>
