<h2>注文履歴詳細</h2>
<div class = "row">
  <table>
    <tbody>
      <tr>
        <th>購入者</th>
        <td><%= @customer.id %></td>
      </tr>
      <tr>
        <th>注文日</th>
        <td><%= @order_day %></td>
      </tr>
      <tr>
        <th>配送先</th>
        <td>
          <%= @delivery_address.address %>
          <%= @customer.last_name %>
          <%= @customer.last_name %>
        </td>
      </tr>
      <tr>
        <th>支払方法</th>
        <th>銀行振込</th>
      </tr>
      <tr>
        <th>注文ステータス</th>
        <td>
           <%= form.select :order_status, Order.order_status.keys, class: "order_status-select" %>
           <%= form.submit "更新" , class: "btn btn-sucsess" %>
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
        <th>制作ステータス</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @product.name %></td>
        <td><%= @ordered_product.price %></td>
        <td><%= @ordered_product.quantity %></td>
        <td><%= sum_of_price %></td>
        <td><%= form.select :production_status, OrderedProduct.production_status.keys, class: "production_status-select" %></td>
        <td><%= from.submit "更新", class: "btn btn-sucsess" %></td>
      </tr>
    </tbody>
  </table>
</div>