<main>
<h2>注文履歴詳細</h2>
  <table>
    <tbody>
      <tr>
        <th>購入者</th>
        <td><%= @customer.last_name %></td>
      </tr>
      <tr>
        <th>注文日</th>
        <td><%= @order.created_at.strftime("%Y-%m-%d%H:%M") %></td>
      </tr>
      <tr>
        <th>配送先</th>
        <td>
          <%= @order.address %>
          <%= @customer.last_name %>
          <%= @customer.first_name %>
        </td>
      </tr>
      <tr>
        <th>支払方法</th>
        <th>銀行振込</th>
      </tr>
      <tr>
        <th>注文ステータス</th>
        <td>
          <%= form_with model: @order, url: admin_order_path, method: :patch, local: true do |f| %>
           <%= f.select :order_status, Order.order_statuses.keys, class: "order_status" %>
           <%= f.submit "更新" , class: "btn btn-sucsess" %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
        <th>制作ステータス</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @product.name %></td>
        <td><%= @product.add_tax_price %></td>
        <td><%= @ordered_product.quantity %></td>
        <td><%= @product.add_tax_price * @ordered_product.quantity %></td>
        <%= form_with model: @ordered_product, url: admin_order_detail_path, method: :patch, local: true do |f| %>
          <td><%= f.select :production_status, OrderedProduct.production_statuses.keys, class: "production_status-select" %></td>
          <td><%= f.submit "更新", class: "btn btn-sucsess" %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</main>