<div class='container px-5 px-sm-0'>
  <div class='row'>
    <h2>注文履歴一覧</h2>
    <table class='table table-hover table-inverse'>
      <thead class="thead-light">
        <tr>
          <th>購入日時</th>
          <th>購入者</th>
          <th>注文個数</th>
          <th>注文ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
        <tr>
          <td><%= link_to order.created_at.strftime("%Y-%m-%d %H:%M"), admin_order_path(order) %></td>
          <td><%= order.address_name %></td>
          <td><%= order.ordered_product_ids.count %></td>
          <td><%= order.order_status %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @orders %>
  </div>
</div>
