<main>
  <h1>配送先登録/一覧</h>
  <div class = "row">
    <%= form_with model:@delivery_address, url: "/public/delivery_addresses", local:true do |f| %>
      <%= f.label :postcode %> <!--ハイフンなしって入れなきゃ、、-->
      <%= f.number_field :postcode %>

      <%= f.label :address %>
      <%= f.text_field :address %>

      <%= f.label :name %>
      <%= f.text_field :name %>
      
      <%= f.submit "新規登録", class: "btn btn-primary" %>
    <% end %>
  </div>
  <table>
    <thead>
      <tr>
        <td>郵便番号</td>
        <td>住所</td>
        <td>宛名</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @delivery_addresses.each do |delivery_address| %>
          <td><%= delivery_address.postcode %></td>
          <td><%= delivery_address.address %></td>
          <td><%= delivery_address.name %></td>
          <td>
            <%if user_signed_in? && current_user.id == delivery_address.customer_id %>
              <%= link_to "編集", edit_public_delivery_address_path, class:"p-3 mb-2 bg-success text-white" %>
              <%= link_to "削除", public_delivery_address_path, method: :delete, data: {confirm: "削除しますか？"}, class:"p-3 mb-2 bg-danger text-white" %>
            <% end %>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</main>