<div class="row">
  <h2>商品一覧</h2>
  <%= link_to new_admin_product_path do %>
    <i class="fas fa-plus"></i>
  <% end %>
  <table class="table">
    <thead>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= link_to product.name, admin_product_path(product) %></td>
        <td><%= product.price %></td>
        <td><%= product.genre.name %></td>
        <td>
          <% if product.is_active == true %>
            販売中
          <% else %>
            販売停止中
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @products %>
</div>

