<div class="row">
    <h3>注文情報確認</h3>
      <table class="table table-hover table-inverse table-bordered">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_products.each do |cart_product| %>
            <tr>
              <td>
                <%= attachment_image_tag( cart_product.product, :image, size: "60x50", fallback: "no_image.jpg") %>
                <%= cart_product.product.name %>
              </td>
              <td>
                <%= cart_product.product.price.add_tax_price.to_s(:delimited, delimiter: ',') %>
              </td>
              <td>
                  <%= cart_product.quantity %>
              </td>
              <td>
                ¥<%= cart_product.product.price.add_tax_price * cart_product.quantity).to_s(:delimited, delimiter: ',') %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <table class="table table-hover table-sm table-bordered">
          <tr>
            <th>送料</th>
            <td>
              <!-- sessiomのデータを表示する場合、カラム名に""つける -->
              <%= session[:order][""].to_s(:delimited, delimiter: ',') %>
            </td>
          </tr>
          <tr>
            <th>商品合計</th>
            <td>
              ¥<%= (session[:order]["total_payment"] - session[:order]["postage"]).to_s(:delimited, delimiter: ',') %>
            </td>
          </tr>
          <tr>
            <th class="info">請求金額</th>
            <td class="text-right">
              ¥<%= session[:order]["total_payment"].to_s(:delimited, delimiter: ',') %>
            </td>
          </tr>
      </table>
    <div class="col-xs-9 billing">
      <table class="table table-hover table-condensed table-bordered">
        <tr>
          <th  class="info">支払方法</th>
          <td class="text-left">
            <%= session[:order]["payment_method"] %>
          </td>
        </tr>
        <tr>
          <th  class="info">お届け先</th>
          <td class="text-left">
            <%= session[:order]["post_code"] %><br>
            <%= session[:order]["address"] %><br>
            <%= session[:order]["name"]  %>
          </td>
        </tr>
      </table>

      <%= link_to "注文を確定する", public_orders_thanks_path, class: 'btn btn-sm btn-success' %>

    </div>
</div>