<div class='container'>
    <h2>注文履歴一覧</h2>
    <table class='table table-hover table-borderless'>
      <thead class="thead-light">
        <tr>
          <th>注文日</th>
          <th>配送先</th>
          <th>注文商品</th>
          <th>支払金額</th>
          <th>ステータス</th>
          <th>注文詳細</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
        <tr>
          <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
          <td>
            〒<%= order.postcode %>
            <%= order.address %>
            <%= order.address_name %>
          </td>
          <td><%#= @product.name %>注文商品名入れる</td>
          <td><%= order.total_price %></td>
          <td><%= order.order_status %></td>
          <td><%= link_to "表示する",  order_path(order), class: "btn-sm btn-primary" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @orders %>
</div>
