<div class = "container">
  <table class="table table-bordered">
    <h4>注文情報</h4>
    <tbody>
      <tr>
        <th>注文日</th>
        <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
      </tr>
      <tr>
        <th>配送先</th>
        <td>
          <%= @order.address %>
          <%= @customer.last_name %>
          <%= @customer.first_name %>
        </td>
      </tr>
      <tr>
        <th>支払い方法</th>
        <td>
          <% if @order.payment == 0 %>
            クレジットカード
          <% else %>
            銀行振込
          <% end %>
        </td>
      </tr>
      <tr>
        <th>ステータス</th>
        <td><%= @order.order_status %></td>
      </tr>
    </tbody>
  </table>

  <table class="table table-bordered">
    <h4>請求情報</h4>
    <tbody>
      <tr>
        <th>商品合計</th>
       <td><%= @order.total_price %></td>
      </tr>
      <tr>
        <th>配送料</th>
        <td><%= @order.shipping %></td>
      </tr>
      <tr>
        <th><strong>ご請求額</strong></th>
        <td> <%= @order.sum_of_order_price %></td>
      </tr>
    </tbody>
  </table>

  <table class="table table-bordered">
    <h4>注文内容</h4>
    <thead>
        <th>商品名</th>
        <th>単価（税込）</th>
        <th>個数</th>
        <th>小計</th>
      </tr>
    </thead>
    <tbody>
    <% @ordered_products.each do |ordered_product| %>
    <tr>
      <td><%= ordered_product.product.name %></td>
      <td><%= ordered_product.product.add_tax_price %></td>
      <td><%= ordered_product.quantity %></td>
      <td><%= ordered_product.product.add_tax_price * ordered_product.quantity %></td>
          <%= form_with model: ordered_product, url: admin_order_detail_path, method: :patch, local: true do |f| %>
            <td><%= f.select :production_status, OrderedProduct.production_statuses.keys, class: "production_status-select" %></td>
            <td><%= f.submit "更新", class: "btn-sm btn-success" %></td>
          <% end %>
    </tr>
    <% end %>
  </tbody>
  </table>
</div>