taro
<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <% if customer_signed_in? %>

            <li><%= link_to "マイページ", public_customer_path(current_customer) %></li>
            <li><%= link_to "商品一覧", public_products_path %></li> 
            <li><%= link_to "カート", public_cart_products_path %></li>
            <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li> 

          <% elsif  admin_signed_in? %>
            <li><%= link_to "商品一覧", admin_products_path %></li>
            <li><%= link_to "会員一覧", admin_customers_path %></li>
            <li><%= link_to "注文履歴一覧", admin_orders_path %></li>
            <li><%= link_to "ジャンル一覧", admin_genres_path %></li>
            <li><%= link_to "ログアウト", root_path %></li>
           <% else %>
            <li><%= link_to "About", public_homes_about_path %></li>
            <li><%= link_to "商品一覧", admin_products_path %></li>

            <li><%= link_to "新規登録", new_public_customer_path %></li> 
            <li><%= link_to "ログイン", new_customer_session_path %></li>

           <% end %>
        </ul>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      ながのけーき
    </footer>
  </body>
</html>
