<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
  <nav>
    <ul>
      <!--名前とリンク先を編集する-->
      <!--< if user_signed_in? %>-->
        <li>ユーザー</li>
        <!--<li><= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>-->
      <!--< elsif admin_signed_in? %>-->
        <li>管理者</li>
        <!--<li><= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>-->
      <!--< else %>-->
        <li>ゲストユーザー</li>
        <!--<li><= link_to "新規登録", new_user_registration_path %></li>-->
        <!--<li><= link_to "ログイン", new_user_session_path %></li>-->
      <!--< end %>-->
    </ul>
  </nav>
</header>
    <%= yield %>
  </body>
</html>
