<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
    <% if customer_signed_in? %>
      <h7>ようこそ、<%= current_customer.last_name %>さん！</h7>
    <% end %>
      <nav>
        <ul>
          <% if customer_signed_in? %>
            <li><%= link_to "マイページ", customer_path(current_customer) %></li>
            <li><%= link_to "商品一覧", products_path %></li>
            <li><%= link_to "カート", cart_products_path %></li>
            <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>
          <% elsif  admin_signed_in? %>
            <li><%= link_to "商品一覧", admin_products_path %></li>
            <li><%= link_to "会員一覧", admin_customers_path %></li>
            <li><%= link_to "注文履歴一覧", admin_orders_path %></li>
            <li><%= link_to "ジャンル一覧", admin_genres_path %></li>
            <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
           <% else %>
            <li><%= link_to "About", homes_about_path %></li>
            <li><%= link_to "商品一覧", products_path %></li>
            <li><%= link_to "新規登録", new_customer_registration_path %></li>
            <li><%= link_to "ログイン", new_customer_session_path %></li>
           <% end %>
        </ul>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      ながのけーき
    </footer>
  </body>
</html>
